<div class="container">
  <div class="row">
    <div class="top-genre col-xs-3">
      <table class="">
        <tr>
          <th>ジャンル検索</th>
        </tr>

        <tr>
          <td>
            <% @genres.each do |genre| %>
            <ul>
              <li>
                <%= genre.name %>
              </li>
            </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-xs-9">
      <div class="top-explain">
        <div class="top-explain-1">
          <p>
            ようこそ、NaganoCakeへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>

      <h1>オススメ商品</h1>
      <div class="items-index">
        <% @items.first(4).each do |item| %>
          <ul>
            <li>
              <%= attachment_image_tag item, :image, format: 'jpg', class: "profile-img", size: "150x100" %>
            </li>
            <li>
              <%= item.name %>
            </li>
            <li>
              ¥<%= item.non_taxed_price %>
            </li>
          </ul>
        <% end %>


      </div>

      <p class="pull-right">
        <%= link_to "もっと見る", items_path %>
      </p>
    </div>

  </div>
</div>