<div class="container">
  <h3><span class="label label-default">商品新規登録</span></span></h1>

  <div class="admins-item-new">
    <%= form_with model:@item, url: admins_items_path, method: :POST, local:true do |f| %>
    <table class="admins-item-new-table center-block">

      <tr>
        <th>商品名</th>
        <td><%= f.text_field :name %></td>
      </tr>

      <tr>
        <th>商品説明</th>
        <td><%= f.text_area :introduction %></td>
      </tr>

      <tr>
        <th>商品画像</th>
        <td><%= f.attachment_field :image %></td>
      </tr>

      <tr>
        <th>ジャンル</th>
        <td><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
      </tr>

      <tr>
        <th>税抜価格</th>
        <td><%= f.text_field :non_taxed_price %></td>
      </tr>

      <tr>
        <th>販売ステータス</th>
        <td><%= f.select :is_active, [['販売中', true], ['売切', false]] %></td>
      </tr>

      </table>
      <div class="item_submit">
        <%= f.submit '新規登録', class: "btn btn-lg btn-primary pull-right" %>
      </div>

    <% end %>
  </div>
</div>