<h3><span class="label label-default">注文情報入力</span></span></h1>

<%= form_with url: orders_confirm_path, method: :post, local:true do |f| %>
  <h3>支払い情報</h3>
    <label>
      <%= f.radio_button :payment_method, "credit_card" %> クレジットカード <br>
      <%= f.radio_button :payment_method, "bank" %> 銀行振込
    </label>

    <h3>お届け先</h3>
    <label>
      <%= f.radio_button :select_address, 1 %> ご自身の住所 <br>
      <%= current_customer.postal_code %><%= current_customer.address %> <br>
      <%= current_customer.last_name + current_customer.first_name %>
      <%#= f.collection_select :address, Address.all, :id, :postal_code, :address %> <br>
      <%= f.radio_button :select_address, 3 %> 新しいお届け先 <br>
      <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
      <%= f.text_field :postal_code %> <br>
      <%= f.label :address, "住所" %>
      <%= f.text_field :address %> <br>
       <%= f.label :name, "宛名" %>
      <%= f.text_field :name %> <br>
    </label>
    <br>

    <%= f.submit "確認画面へ進む", class: "btn btn-success" %>

<% end %>