<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h2>ジャンル検索</h2>
    </div>
    <div class="col-xs-4">
      <%= attachment_image_tag @item, :image, format: 'jpg', class: "pull-left profile-img", size: "300x300" %>
    </div>
    <div class="col-xs-4">
      <h1><%= @item.name %></h1>
      <%= @item.introduction %>
      <p>¥<%= @item.non_taxed_price * 1.1 %>(税込）</p>
    </div>

    <%= form_with model:@cart_item, url: cart_items_path, local:true do |f| %>

    <% if customer_signed_in? %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>
    <% end %>
      <%= f.hidden_field :item_id, :value => @item.id %>

    <%= f.number_field :count %>

    <%#= f.select :count, options_for_select(@cart_item, {selected: cart_item.count.to_i} ) %>

    <%= f.submit 'カートに入れる', class: 'btn btn-primary' %>

    <% end %>

  </div>
</div>